<div class="container-custom">
  <div class="boxer">
    <div class="row justify-content-around">
      <div class="col-3" routerLink="/products">
        <p class="text-center">E-commerce shop</p> 
      </div>
      <div class="col-3" routerLink="/hero">
        <p class="text-center">Hero TD Form</p>
      </div>
      <div class="col-3" routerLink="/rform">
        <p class="text-center">Reactive Form #1</p>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="col-3" routerLink="/td-form">
        <p class="text-center">Template-Driven Form</p> 
      </div>
      <div class="col-3" routerLink="/rforms">
        <p class="text-center">Reactive Form #2</p>
      </div>
      <div class="col-3" routerLink="/gallery">
        <p class="text-center">Image Gallery</p>
      </div>
    </div>
  </div>
</div>
