<div class="container-custom">
  <div class="row justify-content-around">
    <div class="col-3" style="background-color: bisque;">
      <p class="text-center">One of two columns</p> 
    </div>
    <div class="col-3" style="background-color: bisque;">
      <p class="text-center">One of two columns</p>
    </div>
    <div class="col-3" style="background-color: bisque;">
      <p class="text-center">One of two columns</p>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-4" style="background-color: bisque;">
      <p class="text-center">One of two columns</p> 
    </div>
    <div class="col-4" style="background-color: bisque;">
      <p class="text-center">One of two columns</p>
    </div>
  </div>
    
</div>


