html, body {
  margin: 0;
}

.col-3, .col-4 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 22px;
  margin-right: 24px;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.2s;
  background-color: blanchedalmond;

  p {
    transition: all 0.2s;
    font-size: 18px;
    color: rgb(45, 45, 45);
    transform: translateY(25%);
  }
}


.container-custom {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: whitesmoke;
  background-image: linear-gradient(132deg, rgb(235, 235, 235) 0%, #33bba0 100%);
}

.boxer {
  position: fixed;
  width: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.col-3:hover, 
.col-4:hover {
  background-color: rgb(238, 202, 159);
  box-shadow: 0px 0px 4px #c9c9c9;
  transform: translateY(-5%) scale(102%);
  p {
    text-shadow: 1px 1px 1px #c9c9c9;
    // color: black;
    color: black;
  }
}