@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.container {
  margin: 20px; 
}

.form-group {
  margin: 20px;
}

input {
  margin-bottom: 1rem;
}

button {
  margin-right: 0.5rem;
}