@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.container {
  margin: 20px; 
}

.form-group {
  margin: 20px;
}

input#alterego {
  margin-bottom: 1rem;
}

button {
  margin-right: 0.5rem;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
.btn-default {
  color: black !important;
}