<app-top-bar></app-top-bar>
<div class="box">
  <h3>Cart</h3>

  <p>
    <a routerLink="/shipping">Shipping Prices</a>
  </p>
  
  <div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>
  
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  
    <div class="form-input">
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>
  
    <div class="form-input">
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address">
    </div>
  
    <button class="button" type="submit">Purchase</button>
  
  </form>
</div>

<div class="back-btn"
  (click)="onStart()">
  <svg class="back" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.222 18.917c5.666-5.905-.629-10.828-5.011-7.706l1.789 1.789h-6v-6l1.832 1.832c7.846-6.07 16.212 4.479 7.39 10.085z"/></svg>
</div>