<div class="box">
  <h3>Reactive Form</h3>

<!-- Here formGroup Directive & we are binding it to MY own custom form, referencing to property: FormGroup  -->
<!-- ngSubmit Derective to submit form -->
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <div formGroupName="userData">
      <div class="form-group">
        <label for="username">Username</label>
      <!-- we using formControlName to tell Angular which control of our signupForm we want to set there! -->
        <input 
          type="text"
          id="username"
          formControlName="username"
          class="form-control">
      <!-- Accessing our form controls by get() method -->
        <span
          *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" 
          class="help-block">
        <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">This name is forbidden!</span>
          This field is required!</span>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
      <!-- [formControlName]="'email'" WE CAN ALSO USE PROPERTY BINDING FOR THIS PURPOSE -->
        <input 
          type="text"
          id="email"
          [formControlName]="'email'"
          class="form-control">
          <span
          *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" 
          class="help-block">Please enter a valid email</span>
      </div>
    </div>
  
    <div formArrayName="hobbies">
      <h4>Your Hobbies</h4>
      <button 
        class="btn btn-secondary" 
        type="button" 
        (click)="onAddHobby()">Add Hobby</button>
      <div 
        class="form-group"
        *ngFor="let hobbyControl of signupForm.get('hobbies')['controls']; let i = index">
        <input type="text" class="form-control" [formControlName]="i">
      </div>
    </div>

    <div class="form-group">
      <label for="status">Account Status</label>
      <select id="status" class="form-control" formControlName="accountStatus">
        <option 
          *ngFor="let status of accountStatuses"
          [value]="status">
            {{ status }}
        </option>
      </select>
    </div>
    
    <div class="radio" *ngFor="let sex of sexes">
      <label>
        <input 
          type="radio"
          formControlName="sex"
          [value]="sex">{{ sex }}
      </label>
    </div>
    <button 
      class="btn btn-primary" type="submit">Submit</button>
  </form> 
</div>

<div class="back-btn"
  (click)="onStart()">
  <svg class="back" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.222 18.917c5.666-5.905-.629-10.828-5.011-7.706l1.789 1.789h-6v-6l1.832 1.832c7.846-6.07 16.212 4.479 7.39 10.085z"/></svg>
</div>