.box {
  margin: 10px 50px;
}

// input.ng-touched.ng-invalid {
//   border: 2px solid tomato;
// }

// span.help-block {
//   color: red;
//   font-size: 1.3rem;
//   letter-spacing: 1px;
// }

label.required:after {
  color: #d00;
  content: "*";
  font-size: 1.8rem;
  margin-left: 2px;
}

.form-check-label {
  margin-left: 3px;
}

select.giveRedBorder, input.giveRedBorder {
  border: 2px solid #a94442;;
}