
<div class="box">
  <form [formGroup]="contactForm">

    <div class="form-group" [ngClass]="displayErrorMessage('firstname')">
      <label for="firstname" class="control-label required">Firstname:</label>
      <input 
        type="text" 
        class="form-control" 
        id="firstname" 
        name="firstname" 
        formControlName="firstname">
      <app-error-message 
        [submitted]="submitted"
        [displayError]="isFieldValid('firstname')" 
        errorMsg="Please provide your firstname!!!">
      </app-error-message>
      <!-- <span 
        *ngIf="!contactForm.get('firstname').valid && contactForm.get('firstname').touched" 
        class="help-block">
        Please enter your firstname
      </span> -->
    </div>

    <div class="form-group" [ngClass]="displayErrorMessage('lastname')">
      <label for="lastname" class="control-label required">Lastname:</label>
      <input 
        type="text" 
        class="form-control" 
        id="lastname" 
        name="lastname" 
        formControlName="lastname">
        <app-error-message 
          [submitted]="submitted"
          [displayError]="isFieldValid('lastname')" 
          errorMsg="Please provide your lastname!">
        </app-error-message>
        <!-- <span 
          *ngIf="!contactForm.get('lastname').valid && contactForm.get('lastname').touched" 
          class="help-block">
          Please enter your lastname
        </span> -->
    </div>
    <div class="form-group" [ngClass]="displayErrorMessage('lastname')">
      <label for="email" class="control-label required">E-mail:</label>
      <input 
        type="text" 
        class="form-control" id="email" name="email" formControlName="email">
        <app-error-message 
          [submitted]="submitted"
          [displayError]="isFieldValid('email')" 
          errorMsg="Please enter email you would like to connect with your account!">
        </app-error-message>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input 
          type="checkbox" 
          class="form-check-input" id="isMarried" name="isMarried" formControlName="isMarried">
        <label for="isMarried" class="form-check-label">Married </label>
      </div>
    </div>

    <div formGroupName="addressData">
      <div class="form-group">
        <div class="col-xs-6 col-md-6">
          <label for="country" class="control-label required">Select your Country:</label>
          <select 
            name="country" id="country" 
            class="form-control" formControlName="address"
            [ngClass]="displayRedBorder('addressData.address')">
            <option [value]="c" *ngFor="let c of countryList"> {{ c }}</option>
          </select>
        </div>

        <div class="col-xs-6 col-md-6">
          <label for="postCode" class="control-label required">PostCode:</label>
          <input 
            type="text" 
            id="postCode" 
            name="postCode" minlength="5"  
            class="form-control" formControlName="postCode"
            [ngClass]="displayRedBorder('addressData.postCode')">
        </div>
      </div>
    </div>
    <button 
      class="btn btn-primary"
      type="submit"
      type="button"
      (click)="onSubmit()">
      Submit
    </button>
  </form>
</div>

<div class="back-btn"
  (click)="onStart()">
  <svg class="back" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.222 18.917c5.666-5.905-.629-10.828-5.011-7.706l1.789 1.789h-6v-6l1.832 1.832c7.846-6.07 16.212 4.479 7.39 10.085z"/></svg>
</div>