<div class="container">
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" required id="firstname" name="firstname" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" id="lastname" name="lastname" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <select name="country" required id="country" class="form-control" ngModel>
        <option selected="" value=""></option>
        <option [ngValue]="c.id" *ngFor="let c of countryList">
          {{ c.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <button [disabled]="!contactForm.valid" class="btn btn-primary" type="submit">Submit</button>
    </div>

  </form>
</div>
<div class="container">
  <pre>Value : {{contactForm.value | json }}</pre>
  <pre>Valid : {{contactForm.valid}} </pre>
  <pre>Touched : {{contactForm.touched  }} </pre>
  <pre>Submitted : {{contactForm.submitted  }} </pre>
</div>
