<!-- <app-top-bar></app-top-bar> -->
<div class="container">
  <div class="container-custom" style="margin-top: 20px;">
    <h2>Products</h2>

    <div *ngFor="let product of products">
      <h3>
        <a 
          [title]="product.name + ' details'"
          [routerLink]="['/products', product.id]">
          {{ product.name }}
        </a>
      </h3>
    
      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>
    
      <button (click)="share()">
        Share
      </button>
    
      <app-product-alerts
        [recievedProduct]="product"
        (notify)="onNotify()">
      </app-product-alerts>
    
    </div>
  </div>
</div>

<div class="back-btn"
  (click)="onStart()">
  <svg class="back" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3.222 18.917c5.666-5.905-.629-10.828-5.011-7.706l1.789 1.789h-6v-6l1.832 1.832c7.846-6.07 16.212 4.479 7.39 10.085z"/></svg>
</div>
